html,
body {
	margin: 0;
	padding: 0;
	tab-size: 4;
}

* {
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	font-family: 'Roboto', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
		'Hiragino Sans', Meiryo, sans-serif;
}

main pre > code[class*='language-'] {
	font-size: 1.05em;
	background-color: var(--background-alt, #f7f7f7);
}
