html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	max-width: 100vw;
	font-family: 'Roboto', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
		Meiryo, sans-serif;
}

main pre[class*='language-'] {
	background: transparent;
	padding: 0;
	margin: initial;
	overflow: initial;
}
